<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layout">

<th:block layout:fragment="content">

  <!-- Begin Page Content -->
  <div class="container-fluid">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">신규 서적</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>제목</th>
              <th>작가</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="newBook : ${newBooks}">
              <td><span th:text="${newBook.title}"></span></td>
              <td><span th:text="${newBook.author}"></span></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">대출 순위 Top 5</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table" id="dataTable2" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>순위</th>
              <th>제목</th>
              <th>작가</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="newBook, num : ${newBooks}">
              <td><span th:text="${num.count}"></span></td>
              <td><span th:text="${newBook.title}"></span></td>
              <td><span th:text="${newBook.author}"></span></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">공지 사항</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>번호</th>
              <th>제목</th>
              <th>작성자</th>
              <th>날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="notice : ${notices}">
              <td><span th:text="${notice.id}"></span></td>
              <td><span th:text="${notice.title}"></span></td>
              <td><span th:text="${notice.createdBy}"></span></td>
              <td><span th:text="${#temporals.format(notice.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</th:block>
</html>