<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>기적의 도서관</title>
</head>
<body>
<h1>신규 서적 등록</h1>
<form action="/books/register" method="post" class="form-example">
    <div class="form-example">
        <label for="title">제목</label>
        <input type="text" name="title" id="title" placeholder="책 제목 입력" required>
    </div>
    <div class="form-example">
        <label for="author">작가</label>
        <input type="text" name="author" id="author" placeholder="작가 입력" required>
    </div>
    <div class="form-example">
        <label for="isbn">ISBN</label>
        <input type="text" name="isbn" id="isbn" placeholder="isbn 입력" required>
    </div>
    <div class="form-example">
        <input type="submit" value="등록">
    </div>
</form>
</body>
</html>
