<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
  <div class="container" th:object="${book}">
    <div class="py-5 text-center">
      <h2>책 상세 페이지</h2>
    </div>
    <div>
      <label for="title">책 제목</label>
      <input type="text" id="title" name="title" class="form-control" th:value="*{title}" readonly/>
    </div>
    <div>
      <label for="author">작가</label>
      <input type="text" id="author" name="author" class="form-control" th:value="*{author}" readonly/>
    </div>
    <div>
      <label for="isbn">ISBN</label>
      <input type="text" id="isbn" name="isbn" class="form-control" th:value="*{isbn}" readonly/>
    </div>
    <div>
      <label for="publishDate">출간일</label>
      <input type="date" id="publishDate" name="publishDate" class="form-control" th:value="*{publicationDate}"
             readonly/>
    </div>
    <div>
      <label for="category">카테고리</label>
      <input type="text" id="category" name="category" class="form-control" th:value="*{category}" readonly/>
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col">
        <button type="button" class="w-100 btn btn-primary btn-lg"
                th:onclick="|location.href='@{/books/{bookId}/edit(bookId=${book.id})}'|">수정하기</button>
      </div>
      <div class="col">
        <button type="button" class="w-100 btn btn-secondary btn-lg"
                th:onclick="|location.href='@{/books}'|"
                onclick="location.href='/books'">목록으로
        </button>
      </div>
    </div>
  </div>
</div>
</html>