<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
  <div class="container" th:object="${book}">
    <div class="py-5 text-center">
      <h2>책 상세 페이지</h2>
    </div>
    <div>
      <label for="title">책 제목</label>
      <input type="text" id="title" class="form-control" th:field="*{title}" disabled/>
    </div>
    <div>
      <label for="author">작가</label>
      <input type="text" id="author" class="form-control" th:field="*{author}" disabled/>
    </div>
    <div>
      <label for="isbn">ISBN</label>
      <input type="text" id="isbn" class="form-control" th:field="*{isbn}" disabled/>
    </div>
    <div>
      <label for="publishDate">출간일</label>
      <input type="text" id="publishDate" class="form-control" th:field="*{publishDate}" disabled/>
    </div>
    <label for="categorySelector">카테고리</label>
    <select id="categorySelector" th:field="*{category}" class="form-select" disabled>
      <option value="">== 카테고리를 선택하세요 ==</option>
      <option th:each="category : ${bookCategories}"
              th:value="${category.name()}"
              th:text="${category.description}">에세이</option>
    </select>
    <hr class="my-4">
    <div class="row">
      <div class="col">
        <button type="button" class="w-100 btn btn-primary btn-lg"
                th:onclick="|location.href='@{/books/{bookId}/edit(bookId=${book.id})}'|">수정하기</button>
      </div>
      <div class="col">
        <button type="button" class="w-100 btn btn-secondary btn-lg"
                th:onclick="|location.href='@{/books}'|"
                onclick="location.href='/books'">목록으로
        </button>
      </div>
    </div>
  </div>
</div>
</html>