<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
  <!-- Begin Page Content -->
  <div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">도서 목록</h6>
      </div>
      <div class="container">
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Search">
          <button class="btn btn-primary" type="button">Search</button>
        </form>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>번호</th>
              <th>분류</th>
              <th>제목</th>
              <th>작가</th>
              <th>출판일</th>
              <th>보유권수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
              <td><a th:href="@{/books/{bookId}(bookId=${book.bookId})}" th:text="${book.bookId}">bookId</a></td>
              <td><span th:text="${book.category.description}">카테고리</span></td>
              <td><a th:href="@{/books/{bookId}(bookId=${book.bookId})}" th:text="${book.title}">title</a></td>
              <td><span th:text="${book.author}">author</span></td>
              <td><span th:text="${#temporals.format(book.publishDate, 'yyyy-MM-dd')}">출판일</span></td>
              <td><span th:text="${book.amount}">보유권수</span></td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer py-3">
        <button type="button" class="btn btn-primary btn-sm"
                th:onclick="|location.href='@{/books/add}'|"
                onclick="location.href='./book-add-form.html'">도서 추가
        </button>
      </div>
    </div>
  </div>
</div>
</html>