<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
  <div class="text-center">
    <h1>전체 책 리스트</h1>
    <table class="table">
      <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작가</th>
        <th>상태</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="book : ${books}">
        <td><span th:text="${book.bookId}"></span></td>
        <td><span th:text="${book.title}"></span></td>
        <td><span th:text="${book.author}"></span></td>
        <td><span th:text="${book.status}"></span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</html>