<!DOCTYPE html>
<html lagn="en" xmlns:th="http://www.thymeleaf.org"
>

<!-- 공통으로 쓰이는 script파일을넣는다.-->
<th:block th:fragment="scriptFragment">

<!--  &lt;!&ndash; Bootstrap core JavaScript&ndash;&gt;-->
<!--  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>-->
<!--  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>-->

<!--  &lt;!&ndash; Core plugin JavaScript&ndash;&gt;-->
<!--  <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>-->

<!--  &lt;!&ndash; Custom scripts for all pages&ndash;&gt;-->
<!--  <script th:src="@{/js/sb-admin-2.min.js}"}></script>-->

<!--  &lt;!&ndash; Page level plugins &ndash;&gt;-->
<!--  <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>-->

<!--  &lt;!&ndash; Page level custom scripts &ndash;&gt;-->
<!--  <script th:src="@{/js/demo/chart-area-demo.js}"></script>-->
<!--  <script th:src="@{/js/demo/chart-pie-demo.js}"></script>-->

</th:block>
</html>